In [222]:
# Dependencies

from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import time 
import pandas as pd
from pprint import pprint
from urllib.parse import urlsplit

In [223]:
# setting up splinter

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 93.0.4577
Get LATEST driver version for 93.0.4577
Driver [C:\Users\tsube\.wdm\drivers\chromedriver\win32\93.0.4577.63\chromedriver.exe] found in cache

In [224]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [225]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
news_title=soup.find('ul', class_='item_list').\
            find('li', class_='slide').\
            find('div', class_= 'content_title').text

news_para=soup.find("div",class_='article_teaser_body').text


print(f'Title: {news_title}')
print(f'News : {news_para}')

Title: NASA's Ingenuity Helicopter Captures a Mars Rock Feature in 3D
News : The rotorcraft captures nuances of rocky outcrop during aerial reconnaissance.

In [226]:
featured_url = "https://www.nasa.gov/image-feature/jpl/perseverance-s-first-full-color-look-at-mars"
browser.visit(featured_url)

base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(featured_url))
print(base_url)

https://www.nasa.gov/

In [227]:
# click on featured image

xpath = '//*[@id="468477"]/div[2]/div[2]/a/img'
results = browser.find_by_xpath(xpath)
img = results[0]
img.click()

# featured_img_url = soup.find('img') #['src']
# print(featured_img_url)

In [228]:
#get image url using BeautifulSoup

html_image = browser.html
soup = BeautifulSoup(html_image, "html.parser")

featured_img_url = soup.find('img')['src']
print(featured_img_url)

https://www.nasa.gov/sites/default/files/thumbnails/image/pia24430-1041.jpg

In [229]:
# Mars Facts
url_facts = "https://space-facts.com/mars/"
table = pd.read_html(url_facts)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [230]:
df_mars_facts = table[0]
df_mars_facts.columns = ["Parameter", "Values"]
df_mars_facts.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [231]:
mars_html_table = df_mars_facts.to_html()
mars_html_table = mars_html_table.replace("\n", "")
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [232]:
# Mars Hemisphere
hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemisphere_url)

#Get base url
hemisphere_base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(hemisphere_url))
print(hemisphere_base_url)

https://astrogeology.usgs.gov/

In [233]:
# list of xpaths for mars hemispheres
xpaths = ['//*[@id="product-section"]/div[2]/div[1]/a/img', \
          '//*[@id="product-section"]/div[2]/div[2]/a/img', \
          '//*[@id="product-section"]/div[2]/div[3]/a/img', \
          '//*[@id="product-section"]/div[2]/div[4]/a/img']
xpaths

['//*[@id="product-section"]/div[2]/div[1]/a/img',
 '//*[@id="product-section"]/div[2]/div[2]/a/img',
 '//*[@id="product-section"]/div[2]/div[3]/a/img',
 '//*[@id="product-section"]/div[2]/div[4]/a/img']

In [240]:
hemisphere_img_urls = []
xpaths = ['//*[@id="product-section"]/div[2]/div[1]/a/img',\
          '//*[@id="product-section"]/div[2]/div[2]/a/img',\
          '//*[@id="product-section"]/div[2]/div[3]/a/img',\
          '//*[@id="product-section"]/div[2]/div[4]/a/img']

for xpath in xpaths:
    hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
    browser.visit(hemisphere_url)

    results = browser.find_by_xpath(xpath)
    img = results[0]
    img.click()
    time.sleep(1)

    #get image url using BeautifulSoup
    html_image = browser.html
    soup = BeautifulSoup(html_image, "html.parser")
    img_url = soup.find("img", class_='wide-image')["src"]

    time.sleep(1)
    img_url = hemisphere_base_url + img_url
    title = soup.find("h2",class_="title").text

    hemisphere_img_urls.append({'title': title, 'image url':img_url})
    
print(f'hemisphere_image_urls = \n'
      f'{hemisphere_img_urls}')

hemisphere_image_urls =
[{'title': 'Cerberus Hemisphere Enhanced', 'image url': 'https://astrogeology.usgs.gov//cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'image url': 'https://astrogeology.usgs.gov//cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'image url': 'https://astrogeology.usgs.gov//cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'image url': 'https://astrogeology.usgs.gov//cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [242]:
browser.quit()